        html{
            height:100%;
            width:100%;
        }
        body{
            background:url(wales1.JPG)no-repeat;
            background-size:cover;
            height:100%;
            width:100%;
            float:right;
            margin:0;
            font-family: 'Poiret One', cursive;
        }
        .right-navigation{
            
            width:20%;
            height:100%;
            top:0;
            left:0;
            position:fixed;
            z-index:99;
        }
        #navigation-background{
            position:relative;
            background:rgba(255,255,255,0.9); 
            color:#777;
            height:100%;
            float:right;
            z-index:99999;
        }
        #navigation-hover{
            background:transparent;  
            border-right: 15px solid rgba(255,255,255,0.9);
        }
        #menu-list li{
            list-style-type: none;
            font-size:30px;
        }
        #menu-list{
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100px;
            width: 50px;
            left: 0;
        }
        a{
            text-transform: none;
            text-decoration: none;
            color:black;   
        }
	img{
            height:50px;
            cursor:pointer;	
	}
        .gallery{
            position: fixed;
	    bottom: 0;
            left: 5%;
        }
#gallery-container{
    width:200px;
    position:fixed;
    bottom:0;
    left:3%;
    z-index:999999;
}

.slick-prev:before, .slick-next:before{
 color:#777 !important;   
}