        html{
            height:100%;
            width:100%;
        }
        body{
            background:url(wales1.JPG)no-repeat;
            background-size:cover;
            height:100%;
            width:100%;
            float:right;
            margin:0;
            font-family: 'Poiret One', cursive;
            background-attachment:fixed !important;
        }
        #name{
            margin-bottom:20px;
        }
#navigation-menu{
 background:rgba(255, 255, 255, 0.4);   
}
#about{
 margin-left: auto;
margin-right: auto;
width: 40%;
background: rgba(255, 255, 255, 0.9);
padding: 25px;
margin-top: 10%;  
margin-bottom: 10%;  
    display: none;
}
        #name a{ 
            font-weight:900;
            font-family: 'Great Vibes', cursive;
        }
        .right-navigation{
            
            width:20%;
            height:100%;
            top:0;
            left:0;
            position:fixed;
            z-index:99;
        }
        #navigation-background{
            position:relative;
            background:rgba(255,255,255,0.9); 
            color:#777;
            height:100%;
            float:right;
            z-index:99999;
        }
        #navigation-hover{
            background:transparent;  
            border-right: 15px solid rgba(255,255,255,0.9);
        }
        #menu-list li{
            list-style-type: none;
            font-size:30px;
            width:200px;
        }
        #menu-list{
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100px;
            width: 50px;
            left: 0;
        }
        a{
            text-transform: none;
            text-decoration: none;
            color:black;   
            cursor:pointer;	
        }
	img{
            height:50px;
            width:75px;
            cursor:pointer;	
	}
        .gallery{
            position: fixed;
	    bottom: 0;
            left: 5%;
        }
#x{    
   float:right; 
    height:15px;
    width: 15px;
}
#social{
 position: fixed;
    bottom:0;
    display: none;
}
#social a img{
 height:30px;
    width:30px;
    margin:5px;
    margin-right:0;
}
#gallery-container{
    width:290px;
    position:fixed;
    bottom:0;
    right:3%;
    z-index:999999;
}

.slick-prev:before, .slick-next:before{
 color:#777 !important;   
}